# <h2>Edit Discount For <%= "#{@discount.item.name}" %></h2>
# <%= form_tag "/merchant/items/#{@discount.item.id}/discounts/#{@discount.id}",  method: :patch do %>
#   <%= label_tag :name %>
#   <%= text_field_tag :name %><br>

#   <%= label_tag :quantity %>
#   <%= number_field_tag(:quantity, nil, within: 1..100, :step => '1') %><br>
  
#   <%= label_tag :percentage_off %>
#   <%= number_field_tag(:percentage_off, nil, within: 0.0..0.99, :step => '.01') %><br>

#   <%= submit_tag 'Update Discount' %>
# <% end %>